<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xss.mapper.DeptMapper">

    <select id="findDeptAll" resultType="map">
        select d.*,count(u.id) deptCount from dept d left join user u on d.id=u.dept_id group by d.id
    </select>
</mapper>
 